{% extends "base.html" %}
{% block viewport_width %}600{% endblock %}
{% block title %}Notebook{% endblock %}
{% block body %}
    <a class="back" href="index.html">⌂ back</a>
    <span class="layer-container">
        {% for l in layers %}
        <span class="layer" style="-webkit-mask-image: url('{{base_dir}}{{l}}')"></span>
        {% endfor %}
    </span>

    <div class="pagination">
        {% if prev_link %}
        <a href="{{base_dir}}{{prev_link}}">← prev</a>
        {% endif %}
        {{page_num}}/{{pages_total}}
        {% if next_link %}
        <a href="{{base_dir}}{{next_link}}">next →</a>
        {% endif %}
    </div>
{% endblock %}
